@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

:root {
--bg-color1: #f1f1f1;
--bg-color: #ffffff;
--bg-color-black: #333333;
--bg-color-golden: #cc9933;
--bg-color-grey: #666666;
--bg-color-be: #bebebe;
--bg-color-grey9: #999999;
--bg-color-grey69: #969696;
--bg-color-transparent: transparent;
}

*{
  /* background-color: #f1f1f1; */
  background-color: var(--bg-color1);
  margin: 0px;
}

body {
  padding: 0;
  margin: 0;
  margin: 0px;
}

p {
  margin: 0px;
}


.section-heading {
  padding-left: 45px;
  margin-bottom: 0px;
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 40px;
  font-weight: 300;
  line-height: 32px;
  /* color: #333333; */
  color: var(--bg-color-black);
}

/* Header */

.container {
  max-width: 1170px;
  margin: 0 auto;
  /* background-color: #f1f1f1; */
  background-color: var(--bg-color1);
  padding-top: 30px;
}

.header-container {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.nav-link-tel {
  padding-left: 25px;
  margin-right: 515px;
  /* color:#666666; */
  color: var(--bg-color-grey);
  text-decoration: none;
  /* font-family: 'MullerBold'; */
  font-family: 'Muller';
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0px;
}

.nav-link-cabin,
.section-reservation-link,
.section-proposal-link,
.section-services-list-link,
.section-accomodation-link,
.nav-link-tel,
.nav-link,
.section-footer-user,
.section-footer-tel-email,
.section-footer-right-link {
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}


.nav-link-cabin:hover,
.section-reservation-link:hover,
.section-proposal-link:hover,
.section-services-list-link:hover,
.section-accomodation-link:hover,
.nav-link-tel:hover,
.nav-link:hover,
.section-footer-user:hover,
.section-footer-tel-email:hover,
.section-footer-right-link:hover
 {
  color: var(--bg-color-be);
}

.nav-link-cabin {
  margin-right: 0px;
  margin-bottom: 0;
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* color: #cc9933; */
  color: var(--bg-color-golden);
  text-decoration: none;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left;
  padding-left: 30px;
}


/* Navigation */

.nav {
  display: flex;
  padding: 0px;
  height: 70px;
  align-items: center;
  margin: 0px;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  /* border: #ffffff; */
  border: var(--bg-color);
  border-radius: 10px;
  padding-left: 22px;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0px;
  margin-right: 145px;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
}

.nav-item {
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  margin-right: 0px;
}

.nav-link {
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* color: #333333; */
  color: var(--bg-color-black);
  text-decoration: none;

}

.nav-item:not(:last-child) {
  margin-right: 47px;
  /* background-color: transparent; */
  background-color: var(--bg-color-transparent);
}

.find {
  position: relative;
  width: 315px;
  max-height: 32px;
  margin-right: 0;
  /* background-color: transparent; */
  background-color: var(--bg-color-transparent);
}

.nav-input-find {
 border-radius: 25px;
 border: none;
 /* background-color: #ffffff; */
 background-color: var(--bg-color);
 /* font-family: 'MullerRegular'; */
 font-family: 'Muller';
 font-weight: 400;
 font-size: 14px;
 line-height: 32px;
 /* color: #bebebe; */
 color: var(--bg-color-be);
}

.nav-btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../img/search.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  /* color: transparent; */
  color: var(--bg-color-transparent);
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

/* Main */

.reservation {
  display: flex;
  flex-direction: column;
  padding-right: 55px;
  width: 521px;
}

.reservation-container {
  padding-top: 25px;
}


.reservation-input {
  margin-bottom: 24px;
  /* border: #ffffff; */
  border: var(--bg-color);
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  height: 68px;
  width: 496px;
  border-radius: 10px;
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* color: #999999; */
  color: var(--bg-color-grey9);
  padding-left: 20px;
}
.section-reservation{
  /* margin-right: 4px; */
}

.section-reservation-find {
  /* background-color: #cc9933; */
  background-color: var(--bg-color-golden);
  /* border: #cc9933; */
  border: var(--bg-color-golden);
  /* color: #ffffff; */
  color: var(--bg-color);
  /* font-family: 'MullerBold'; */
  font-family: 'Muller';
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  height: 70px;
  width: 160px;
  border-radius: 10px;
}


.section-reservation-find,
.section-accomodation-list-btn,
.section-contacts-btn-send,
.section-contacts-btn,
.section-footer-right-link,
.logo{
  transition:transform .3s ease-in-out;
}


.section-reservation-find:hover,
.section-accomodation-list-btn:hover,
.section-contacts-btn-send:hover,
.section-contacts-btn:hover,
.section-footer-right-link:hover,
.logo:hover
 {
  transform: translateX(3px);
}

.section-reservation-link {
  padding-left: 30px;
  text-decoration: none;
  color: #d3ab59;
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.section-reservation-info {
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* color: #999999; */
  color: var(--bg-color-grey9);
}

.reservation-proposal {
  display: flex;
  flex-direction: row;
  padding-top: 75px;
}

.heading-proposal {
  padding-bottom: 25px;
}


.section-proposal-container {
  background-image: url(../img/22.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;
  width: 595px;
  border-radius: 8px;
}

.section-proposal-room {
  /* background-color: transparent; */
  background-color: var(--bg-color-transparent);
  /* color: #ffffff; */
  color: var(--bg-color);
  font-size: 66px;
  /* font-family: 'MullerBold'; */
  font-family: 'Muller';
  font-weight: 700;
  line-height: 58px;
  margin: 0 auto;
  padding-top: 265px;
  padding-right: 230px;
  padding-bottom: 30px;
  padding-left: 45px;
}

.section-proposal-price {
  /* background-color: transparent; */
  background-color: var(--bg-color-transparent);
}

.section-proposal-container {
  justify-content: center;
}

.section-proposal-price-link {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.section-proposal-price-link {
  /* background-color: transparent; */
  background-color: var(--bg-color-transparent);
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 35px;
  line-height: 32px;
  color: #cecece;
  padding-left: 40px;
}

.section-proposal-link {
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffcc66;
  text-decoration: none;
  padding-left: 40px;
  background-image: url(../img/23.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px;
}

/* О нас */

.section-about {
  margin: 0px auto;
  padding-top: 70px;
}

.section-about-description {
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* color: #666666; */
  color: var(--bg-color-grey);
  padding-left: 48px;
  padding-top: 15px;
  padding-right: 258px;
}

/* Услуги */

.section-services {
  margin: 0px auto;
  padding-top: 60px;
}

.section-services-list {
  display: flex;
  list-style: none;
  align-items: stretch;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;

  flex-wrap: wrap;
}

.section-services-list li {
  max-width: 570px;
  max-height: 327px;
}

.section-services-list-item {
  /* border: #ffffff; */
  border: var(--bg-color);
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 20px;
}

.section-services-list-link {
  text-decoration: none;
  /* font-family: 'MullerMedium'; */
  font-family: 'Muller';
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  /* color: #cc9933; */
  color: var(--bg-color-golden);
  background-image: url(../img/24.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px;
  padding-left: 45px;
}

.section-services-list-description {
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* color: #333333; */
  color: var(--bg-color-black);
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  padding-left: 45px;
  margin-right: 100px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.section-services-list-img {
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 200px;
  background-size: contain;
}

.img-exclusive {
  background-image: url(../img/exclusive.png);
  margin-right: 24px;
}

.img-rent {
  background-image: url(../img/rent.png);
  margin-right: 0px;
}

.img-fitness {
  background-image: url(../img/fitness.png);
  margin-right: 24px;
}

.img-auto {
  background-image: url(../img/auto.png);
  margin-right: 0px;
}

/* Преимущества */

.section-advantages{
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  padding-top: 55px;
}

.section-heading-advantages {
  padding-left: 45px;
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 40px;
  font-weight: 300;
  line-height: 32px;
  /* color: #333333; */
  color: var(--bg-color-black);
}

.section-heading-list{
  display: flex;
  list-style: none;
  text-align: start;
  padding: 0;
  padding-top: 25px;
  flex-wrap: wrap;
}

.section-heading-list-item {
  max-width: 188px;
  /* border: #ffffff; */
  border: var(--bg-color);
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  border-radius: 15px;
  margin: 0px;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 192px;
  padding-left: 42px;
  padding-right: 45px;
}

.section-heading-list-item:not(:nth-of-type(4n)) {
  margin-right: 20px;
}

.section-heading-list-item:nth-of-type(4n) {
  margin-right: 0px;
}

.section-heading-list-img {
  display: block;
  background-repeat: no-repeat;
  background-position: top left;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  background-size: auto 100%;
  margin-bottom: 15px;
  height: 65px;
}

 .section-heading-list-text {
  display: inline-block;
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* color: #333333; */
  color: var(--bg-color-black);
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
}

.img-bath {
  background-image: url(../img/bathtub.png);
}

.img-hanger {
  background-image: url(../img/hanger.png);
}

.img-heating {
  background-image: url(../img/heating.png);
}

.img-hotel-key {
  background-image: url(../img/hotel-key.png);
}

.img-parking {
  background-image: url(../img/parking.png);
}

.img-reception {
  background-image: url(../img/reception.png);
}

.img-security-box {
  background-image: url(../img/security-box.png);
}

.img-swimming-pool {
  background-image: url(../img/swimming-pool.png);
}

/* Размещение */

.section-accomodation {
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  padding-top: 65px;
}

.section-heading-accomodation {
  padding-left: 45px;
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 40px;
  font-weight: 300;
  line-height: 32px;
  /* color: #333333; */
  color: var(--bg-color-black);
}

.section-accomodation-list {
  display: flex;
  list-style: none;
  text-align: start;
  padding: 0;
  flex-wrap: wrap;
  padding-top: 25px;
}

.section-accomodation-list-item{
  padding: 0;
  border-radius: 10px;
  margin-bottom: 25px;
  max-width: 374px;
  max-height: 440px;
  margin-right: 0px;
  overflow: hidden;
}

.section-accomodation-list-item:not(:nth-child(3n)){
  margin-right: 25px;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  /* border: #ffffff; */
  border: var(--bg-color);
}

.section-accomodation-list-content {
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  border-radius: 10px;
  /* border: #ffffff; */
  border: var(--bg-color);
  height: 440px;
}

.section-accomodation-list-info {
  display: flex;
  flex-direction: row;
  padding-left: 43px;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  padding-top: 28px;
}

.section-accomodation-list-from {
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  padding-right: 10px;
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* color: #969696; */
  color: var(--bg-color-grey69);
}

.section-accomodation-list-price {
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  /* font-family: 'MullerBold'; */
  font-family: 'Muller';
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  /* color: #333333; */
  color: var(--bg-color-black);
}

.section-accomodation-list-night {
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  padding-right: 35px;
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* color: #333333; */
  color: var(--bg-color-black);
}

.section-accomodation-list-hotel {
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  margin: 0 auto;
  padding-top: 6px;
  margin-bottom: 8px;
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
}

.section-accomodation-list-rating-images {
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  padding-top: 7px;
}

.section-accomodation-list-rating {
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
}

.section-accomodation-list-place {
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* color: #969696; */
  color: var(--bg-color-grey69);
  padding-bottom: 10px;
}

.section-accomodation-text {
  padding-left: 43px;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
}

.section-accomodation-list-btn {
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  /* color: #cc9933; */
  color: var(--bg-color-golden);
  /* border: #cc9933 1px solid; */
  border: var(--bg-color-golden) 1px solid;
  border-radius: 10px;
  display: inline-block;
  /* font-family: 'MullerBold'; */
  font-family: 'Muller';
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100px;
}

.section-accomodation-list-hotel-img{
  max-width: 100%;
}

.all-items {
  max-height: 447px;
}

.section-accomodation-all-variants {
  background-image: url(../img/all_variants.jpg);
  background-size: cover;
  display: flex;
  align-items: flex-end;
  width: 374px;
  height: 440px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

.section-accomodation-link {
  display: inline-block;
  text-decoration: none;
  /* background-color: transparent; */
  background-color: var(--bg-color-transparent);
  /* color: #ffffff; */
  color: var(--bg-color);
  font-size: 22px;
  /* font-family: 'MullerMedium'; */
  font-family: 'Muller';
  font-weight: 500;
  line-height: 32px;
  margin-right: 20px;
  margin-bottom: 65px;
  padding-left: 45px;
  padding-right: 20px;
  background-image: url(../img/white_arrow.png);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right center;
}

.section-accomodation-link::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Контакты */

.section-heading-contacts {
  padding-top: 48px;
  margin-bottom: 33px;
  padding-left: 45px;
  font-size: 40px;
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  /* color: #333333; */
  color: var(--bg-color-black);
  line-height: 32px;
}

.section-contacts-container {
  max-height: 690px;
  max-width: 1170px;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  /* border: #ffffff solid; */
  border: var(--bg-color) solid;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 22px;
}

.section-contacts-left {
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  padding-left: 40px;
}

.section-contacts-list {
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  padding: 0px;
}

.section-contacts-list-item {
  display: flex;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  list-style: none;
  align-items: center;
  max-width: 390px;
  /* border-bottom: 1px solid #666666; */
  border-bottom: 1px solid var(--bg-color-grey);
}

.section-contacts-list-item-heading {
  /* font-family: 'MullerBold'; */
  font-family: 'Muller';
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  /* color: #666666; */
  color: var(--bg-color-grey);
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
}

.address {
  margin-top: 30px;
  margin-right: 76px;
  margin-bottom: 50px;
}

.section-contacts-list-item-description-address {
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* color: #333333; */
  color: var(--bg-color-black);
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  margin-bottom: 15px;
  padding-top: 30px;
}

.phone {
  margin-right: 37px;
  margin-bottom: 45px;
  padding-top: 16px;
}

.section-contacts-list-item-description-phones {
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  padding-bottom: 28px;
  padding-top: 16px;
}

.tel {
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* color: #cc9933; */
  color: var(--bg-color-golden);
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
}

.emails {
  padding-top: 22px;
  margin-bottom: 93px;
  margin-right: 76px;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
}

.section-contacts-list-item-description-email {
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
}

.section-contacts-list-item-description-email-content {
  display: flex;
  flex-direction: row;
}

.email {
  /* color: #cc9933; */
  color: var(--bg-color-golden);
  font-size: 16px;
  line-height: 24px;
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  padding-right: 5px;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
}

.email-text {
  /* color: #666666; */
  color: var(--bg-color-grey);
  font-size: 16px;
  line-height: 24px;
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
}

.schedule {
  padding-top: 19px;
  margin-bottom: 50px;
  margin-right: 70px;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
}

.section-contacts-list-item-description-schedule {
  /* color: #333333; */
  color: var(--bg-color-black);
  font-size: 16px;
  line-height: 24px;
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
}

.schedule-block {
  margin-bottom: 36px;
}

.section-contacts-btn {
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  /* border:#cc9933 1px solid; */
  border: var(--bg-color-golden) 1px solid;
  border-radius: 10px;
  padding-top: 19px;
  padding-left: 28px;
  padding-right: 33px;
  padding-bottom: 19px;
  /* font-family: 'MullerBold'; */
  font-family: 'Muller';
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  /* color: #cc9933; */
  color: var(--bg-color-golden);
  margin-bottom: 44px;
}

.section-contacts-right {
  padding-left: 58px;
  padding-top: 35px;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
}

.section-contacts-right-heading {
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 40px;
  line-height: 32px;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  margin-bottom: 32px;
}

.form {
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  max-width: 630px;
}

.input {
  width: 277px;
  height: 12px;
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* color: #999999; */
  color: var(--bg-color-grey9);
  /* background-color: #f1f1f1; */
  background-color: var(--bg-color1);
  border-radius: 10px;
  /* border: #f1f1f1 1px solid; */
  border: var(--bg-color1) 1px solid;
  padding-left: 23px;
  padding-top: 26px;
  padding-bottom: 30px;
}

.input-tel {
  margin-right: 24px;
}

.textarea {
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* color: #999999; */
  color: var(--bg-color-grey9);
  /* background-color: #f1f1f1; */
  background-color: var(--bg-color1);
  border-radius: 10px;
  /* border: #f1f1f1 1px solid; */
  border: var(--bg-color1) 1px solid;
  width: 607px;
  height: 203px;
  padding-left: 23px;
  padding-top: 8px;
  margin-bottom: 23px;
}

.nameTel {
  display: flex;
  flex-direction: row;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  margin-bottom: 18px;
}

.form-text-send {
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* color: #999999; */
  color: var(--bg-color-grey9);
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
}

.form-text-policy {
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* color: #cc9933; */
  color: var(--bg-color-golden);
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
}

.form-text {
  margin-bottom: 40px;
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
}

.section-contacts-btn-send {
  height: 70px;
  width: 340px;
  /* font-family: 'MullerBold'; */
  font-family: 'Muller';
  font-weight: 700;
  /* color: #ffffff; */
  color: var(--bg-color);
  font-size: 16px;
  line-height: 32px;
  /* background-color: #cc9933; */
  background-color: var(--bg-color-golden);
  border-radius: 8px;
  /* border: transparent solid; */
  border: var(--bg-color-transparent) solid;
}

/* Footer */
.section-footer {
  /* background-color: #333333; */
  background-color: var(--bg-color-black);
  max-width: 1170px;
  /* border: transparent solid; */
  border: var(--bg-color-transparent) solid;
  border-radius: 10px;
  padding-top: 36px;
  padding-left: 50px;
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* color: #ffffff; */
  color: var(--bg-color);
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  height: 293px;

}

.section-footer-name {
  /* background-color: #333333; */
  background-color: var(--bg-color-black);
  margin-bottom: 30px;
  font-weight: 300;
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
}

.section-footer-information {
  /* background-color: #333333; */
  background-color: var(--bg-color-black);
  margin-bottom: 30px;
}

.section-footer-user {
  /* background-color: #333333; */
  background-color: var(--bg-color-black);
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  /* color: #cc9933; */
  color: var(--bg-color-golden);
  text-decoration: none;
}

.section-footer-left {
  /* background-color: #333333; */
  background-color: var(--bg-color-black);
  width: 490px;
}

.section-footer-middle {
  width: 610px;
  /* background-color: #333333; */
  background-color: var(--bg-color-black);
  background-image: url('../img/sun.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 260px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  line-height: 24px;
}

.section-footer-address {
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  /* background-color: #333333; */
  background-color: var(--bg-color-black);
  margin-bottom: 35px;
}

.section-footer-tel-email{
  /* font-family: 'MullerRegular'; */
  font-family: 'Muller';
  font-weight: 400;
  /* background-color: #333333; */
  background-color: var(--bg-color-black);
  font-size: 16px;
  /* color: #cc9933; */
  color: var(--bg-color-golden);
  text-decoration: none;
  padding: 0px;
}

.section-footer-middle-list-item {
  /* background-color: #333333; */
  background-color: var(--bg-color-black);
  padding: 0px;
}

.section-footer-middle-list {
  background-color: var(--bg-color-black);
  /* background-color: #333333; */
  width: 180px;
  list-style: none;
  padding: 0px;
}

.last-tel {
  margin-bottom: 24px;
}

.section-footer-right {
  /* background-color: #333333; */
  background-color: var(--bg-color-black);
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  list-style: none;
}

.section-footer-right-link{
  background-repeat: no-repeat;
  /* background-color: #333333; */
  background-color: var(--bg-color-black);
  background-position: right;
  background-size: contain;
  display: inline-block;
  width: 23px;
  height: 23px;
}

.section-footer-right-item:not(:last-child){
  margin-bottom: 15px;
}

.section-footer-right-img {
  /* background-color: #333333; */
  background-color: var(--bg-color-black);
}

.section-footer-right-item {
  /* background-color: #333333; */
  background-color: var(--bg-color-black);
}

.tripadvisor {
  background-image: url('../img/tripadvisor.png');
}

.twitter {
  background-image: url('../img/twitter.png');
}

.facebook {
  background-image: url('../img/facebook.png');
}

.social {
  background-image: url('../img/social.png');
}

.google {
  background-image: url('../img/google-plus-social-logotype.png');
}









