@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

:root {
  --bg-color-white: #FFFFFF;
  --bg-color-black: #333333;
  --bg-color-orange: #FF9900;
  --bg-color-grey: #333333;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
  width: 100%;
}

.container {
  width: 1770px;
  margin: 0 auto;
  background-color: var(--bg-color-white);
}

/* Header */

.section-header {
  width: 100%;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.section-header__container{
  display: flex;
  align-items: center;
  width: 1770px;
  padding-right: 9px;
  padding-top: 16px;
  padding-bottom: 10px;
  background: #FFFFFF;
}

.section-header__img {
  margin-right: auto;
}

.section-header__logo-link {
  margin-right: auto;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  transition: color .5s ease;
}

.nav__link:hover{
  color: #FF9900;
  padding-bottom: 10px;
}

.nav__link:active{
  color: #E1670E;
  padding-bottom: 10px;
}

.nav__link, .nav__link > span {
  position: relative;
  text-decoration: none;
  line-height: 24px;
}
.nav__link::before, .nav__link::after, .nav__link > span::before, .nav__link > span::after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}

.nav__link::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
}

.nav__link:hover::before {
  background: #FF9900;
  transform: scaleX(1);
}

.nav__link:active::before {
  background: #E1670E;
  transform: scaleX(1);
}

.nav__item:not(:last-child){
  margin-right: 85px;
}

.nav__item:nth-child(5) {
  margin-right: 70px;
}

.nav_item:last-child {
  margin-right: 0;
}

.section-header__link {
  text-decoration: none;
  color: var(--bg-color-black);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.section-header__btn {
  padding-right: 1px;
  height: 25px;
}

.section-header__btn {
  padding: 0;
  width: 26px;
  color: var(--bg-color-black);
  background-repeat: no-repeat;
  background-position: right center;
  border: none;
  background-color: var(--bg-color-white);
}

.search svg rect {
  fill: #000;
  transition-property: fill;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.search svg circle {
  stroke: #000;
  transition-property: stroke;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.search:hover svg rect {
  fill: #FF9900;
}

.search:hover svg circle {
  stroke: #FF9900;
}

.search:active svg rect {
  fill: #E1670E;
}

.search:active svg circle {
  stroke: #E1670E;
}

/* Main */

.section-project__container {
  display: flex;
  flex-direction: column;
  background-image: url('../img/low-angle-photo-of-balconies-2462015.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-color-white);
  padding-bottom: 91px;
  margin-bottom: 101px;
  padding-left: 80px;
  padding-top: 100px;
}

.section-project__title {
  width: 842px;
  font-weight: 900;
  font-size: 70px;
  line-height: 85px;
  color: var(--bg-color-white);
  margin: 0;
  margin-bottom: 25px;
}

.section-project__content {
  width: 837px;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  color: var(--bg-color-white);
  margin: 0;
  margin-bottom: 97px;
}

.section-project__btn-content{
  padding: 24px 38px;
  background-color: var(--bg-color-orange);
  border: none;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  color: var(--bg-color-white);
  transition-property: background-color;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  width: 278px;
}

.form-btn__btn-send:hover,
.section-project__btn-content:hover {
  background-color: rgba(255, 153, 0, 60%);
  cursor: pointer;
}

.form-btn__btn-send:focus,
.section-project__btn-content:focus {
  background-color: #E1670E;
  cursor: pointer;
}

/* About */
.section-about__container {
  display: flex;
  flex-direction: column;
}

.section-about__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--bg-color-grey);
  padding-bottom: 5px;
  margin-bottom: 16px;
  margin-top: 0;
}

.work-title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--bg-color-grey);
  margin-bottom: 50px;
}

.section-about__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--bg-color-grey);
  padding-right: 530px;
  padding-bottom: 30px;
  margin-top: 0;
}

.section-about__preview {
  display: flex;
  align-items: flex-end;
  background-image: url('../img/Rectangle2.jpg');
  background-repeat: no-repeat;
  background-color: var(--bg-color-white);
}

.block-preview__block {
  width: 870px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  padding-left: 55px;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.block-preview__block-content {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--bg-color-white);
  max-width: 557px;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.block-preview__btn {
  align-items: center;
  padding: 18px 38px;
  justify-content: center;
  width: 175px;
  border: 3px solid var(--bg-color-orange);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--bg-color-white);
  background-color: transparent;
  transition-property: background-color, border;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.btns-description__detail-btn:hover,
.block-preview__btn:hover {
  cursor: pointer;
  background-color: #E1670E;
  border: 3px solid #E1670E;
}

.btns-description__detail-btn:active,
.block-preview__btn:active {
  cursor: pointer;
  background-color: #E1670E;
  border: 3px solid #E1670E
}

.section-about__cards{
  display: flex;
  flex-direction: column;
}

.section-about__blocks {
  display: flex;
  flex-direction: row;
  margin-bottom: 101px;
}

.section-about__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 30px;
}

.item-about {
  width: 870px;
  padding-bottom: 64px;
  background: var(--bg-color-white);
  border: 1px solid #CACACA;
}

.item-about:first-child{
  margin-bottom: 28px;
}

.bg-cube {
  background-image: url('../img/Group25.png');
  background-repeat: no-repeat;
  background-position: 65px 70px;
  padding-left: 300px;
  padding-top: 69px;
}

.section-about__card {
  display: flex;
  flex-direction: row;
  padding-left: 62px;
}

.bg-gear {
  background-image: url('../img/Group24.png');
  background-repeat: no-repeat;
  background-position: 65px 55px;
  padding-left: 300px;
  padding-top: 69px;
}

.item-about__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 3px;
  color: var(--bg-color-black);
  margin-top: 0;
}

.section-about__text-content{
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  width: 450px;
  color: var(--bg-color-black);
}

/* Work */

.work-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 0;
}

.work-list__link {
  text-decoration: none;
}

.work-list__element:not(:last-child) {
  margin-right: 92px;
}

.work-list__element:nth-child(2) {
  margin-right: 88px;
}

.work-list__element:nth-child(3) {
  margin-right: 88px;
}

.work-list__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--bg-color-black);
  transition: color .5s ease-in-out;
}

.first-link {
  color: #FF9900;
}

.list-left__link:hover,
.work-list__link:hover {
  cursor: pointer;
  color: #FF9900;
}

.list-left__link:active,
.work-list__link:active{
  cursor: pointer;
  color: #E1670E;
}

.description{
  background-image: url('../img/Rectangle18.jpg');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: left 900px bottom 0;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-size: auto;
  padding-top: 26px;
}

.description__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--bg-color-black);
  max-width: 758px;
  margin-top: 0;
  margin-bottom: 5px;
}

.description__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--bg-color-black);
  max-width: 760px;
  margin-top: 0;
}

.description__btns {
  display: flex;
  flex-direction: row;
  padding-top: 45px;
  max-width: 758px;
}

.btns-description__detail-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 19px 38px;
  width: 175px;
  background-color: var(--bg-color-orange);
  margin-right: 31px;
  border:none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--bg-color-white);
  transition-property: background-color, border;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.btns-description__contract-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 38px;
  width: 147px;
  border: 1px solid var(--bg-color-black);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--bg-color-black);
  background-color: var(--bg-color-white);
  transition-property: background-color, color;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.btns-description__contract-btn:hover {
  cursor: pointer;
  background-color: #666666;
  color: #FFFFFF;
}

.btns-description__contract-btn:focus {
  cursor: pointer;
  background-color: #000000;
  color: #FFFFFF;
}

.section-work__container {
  margin-bottom: 102px;
}

/* Questions */

.section-questions__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--bg-color-black);
  margin-bottom: 38px;
}

.list-questions {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 101px;
}

.list-questions__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CACACA;
  transition-property: color, border-bottom, border-top, background-color;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  text-decoration: none;
}

.list-questions__item:hover {
  cursor: pointer;
  border-bottom: 1px solid #FF9900;
  border-top: 1px solid #FF9900;
}

.list-questions__item:hover .list-questions__content {
  color: #FF9900;
}

.list-questions__item:hover .circle {
  background-color: #D2D2D2;
}

.list-questions__content {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--bg-color-black);
  transition-property: color;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.list-questions__item:first-child{
  border-top: 1px solid #CACACA;
}

.list-questions__item:first-child:hover{
  border-top: 1px solid #FF9900;
}

.list-questions__accord {
  width: 50px;
  height: 50px;
  background: #ECECEC;
  border-radius: 100%;
  position: relative;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
}

  .circle::before, .circle::after {
   content: '';
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   background-color: #666666;
}

  .circle::before {
   width: .5px;
   height: 60%;
}

  .circle::after {
   width: 60%;
   height: .5px;
  }

/* Footer */

.footer {
  background-color: #222222;
  display: flex;
}

.footer__container {
  background-color: #222222;
  display: flex;
  width: 1770px;
  align-items: center;
  padding-bottom: 65px;
  margin: 0 auto;
}

.footer__footer-left {
  margin-right: 202px;
}

.list-left {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 400px;
  padding-left: 0;
  margin-bottom: 113px;
}

.list-left__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #CACACA;
  transition-property: color;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.footer-left__logo {
  padding-bottom: 20px;
  padding-top: 46px;
  padding-bottom: 15px;
}

.list-left__item:not(:last-child) {
  margin-bottom: 14px;
}

.icon-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.icon-list__img {
  background-repeat: no-repeat;
  background-color: #222222;
  background-position: left;
  display: flex;
  width : 60px;
  height: 60px;
}

.icon-list__item {
  transition-property: transform;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.icon-list__item:not(:last-child) {
  padding-right: 26px;
}

.icon-list__item:hover{
  transform: translateY(-5%);
}

.footer-middle {
  padding-top: 43px;
  width: 576px;
  display: flex;
  flex-direction: column;
  margin-right: 230px;
}

.footer-middle__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
  margin-bottom: 19px;
  margin-top: 0;
  padding: 0;
  margin-left: 0;

}

.form {
  display: flex;
  flex-direction: column;
}

.input{
  padding-top: 16px;
  padding-bottom: 13px;
  width: 570px;
  margin-bottom: 24px;
  padding-left: 26px;
  background-color: #414141;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.form__email {
  padding-top: 16px;
  padding-bottom: 12px;
}

.form__textarea {
  padding-left: 26px;
  margin-bottom: 33px;
  padding-top: 18px;
  height: 150px;
  background-color: #414141;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  resize: none;
  width: 570px;
}

.form-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-btn__btn-send {
  background-color: var(--bg-color-orange);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 20px;
  padding-left: 54px;
  width: 270px;
  border: none;
  color: var(--bg-color-white);
  display: flex;
  font-size: 16px;
  transition-property: background-color;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  margin-right: 22px;
}

.form-btn__chekbox {
  display: flex;
  transform: scale(1);
}

label {
  position: relative;
  display: inline-block;
}

.checkbox {
  opacity: 0;
}

.checkbox__text {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  color: #CACACA;
  width: 300px;
  padding-bottom: 13px;
}

.checkbox__text::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #FFFFFF;
  margin-right: 4px;
}

.checkbox__text::after {
  content: "";
  left: 6px;
  top: 6px;
  width: 15px;
  height: 15px;
  opacity: 0;
}

.checkbox:checked{
  color: #97EE3F;
}

.checkbox:checked + .checkbox__text::before {
  opacity: 1;
  background-image: url("../img/Rectangle44.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox:focus{
  color: #97EE3F;
}

.footer-right {
  display: flex;
  flex-direction: row;
  padding-right: 0;
  padding-top: 5px;
  margin: 0;
}

.footer-right__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
  color: #CACACA;
  padding: 0;
}



